/.cache/
/.emacs.desktop*
/.lookup-cache-*.el
/auto-save-list/
/backup/
/bookmarks
/diary/*
!/diary/diary
/elisp/*
!/elisp/.gitkeep
/eln-cache/
/history
/info/*
!/info/.gitkeep
/init-*.el
/places
/projects
/recentf
/straight/
/tramp
/transient/
/tree-sitter/
