/.cache/
/.emacs.desktop*
/.lookup-cache-*.el
/.org-id-locations
/auto-save-list/
/backup/
!/backup/.gitkeep
/bookmarks
/custom.el
/diary/*
!/diary/diary
/elisp/*
!/elisp/.gitkeep
/eshell/history
/eln-cache/
/history
/info/*
!/info/.gitkeep
/init-emacs.el
/my-data/init-*.el
/org-roam.db
/persist/activities-activities
/places
/projects
/recentf
/straight/
/tramp
/transient/history
/tree-sitter/
/url/cookies
