<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="description" content="DESCRIPTION 80文字程度" />

    <title></title>

    <link rel="stylesheet" href="path/to/css" />
    <style></style>
    <script src="path/to/js" defer></script>
  </head>
  <body>
    <header>
      <h1></h1>
    </header>
    <main>
      <article>
        <section></section>
      </article>
    </main>
    <footer></footer>
  </body>
</html>
